.about-me {

}

main{
    background-color: var(--aboutMeBg);
    border-color: var(--aboutMeBg);
    border-top: 25px solid;
    border-bottom: 25px solid;
    border-left: none;
    border-right: none;
}

.about-me-container {
    background-color: var(--aboutMeBg);
    display: flex;

    @media(max-width: 1100px){
           flex-direction: column-reverse;
       }
}

.about-me-content {
    color: white;
    margin: 100px 0;
    margin-right: 30px;
    max-width: 600px;
    overflow: auto;

    @media(max-width: 1100px){
        margin: 0 auto;
    }

    @media(max-width: 750px){
        margin: 0 25px;
    }

    h2, h3 {
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
    }

    h2 {
        font-size: 4rem;

         @media(max-width: 750px){
        font-size: 2.5rem;
    }
    }
    h3 {
        margin-top: 30px;
        font-size: calc(3rem + 1vw);
    }

    @media(max-width: 1260px){
        h3{
            font-size: 4rem;
            margin-top: 10px;;
        }

        @media(max-width: 750px){
            font-size: 3rem;
            max-width: 500px;
        }
         @media(max-width: 550px){
            font-size: 2.5rem;
            max-width: 400px;
        }
    }

    p{
        margin-top: 30px;
        font-size: 2rem;
        max-width: 600px;
        font-family: 'Oswald', sans-serif;
        line-height: 25px;

        @media(max-width: 1260px){
              font-size: calc(3rem - 1vw);
              max-width: 800px;
              line-height: 20px;;
              margin-top: 20px;
          }
    
        @media(max-width: 750px){
            font-size: calc(2.5rem - 1vw);
            line-height: 30px;
            max-width: 500px;  
          }
    }

    }

    .resume-button{
        border: none;
        font-family: 'Oswald', sans-serif;
        margin-top: 30px;
        font-size: 2rem;
        background-color: transparent;
        margin-bottom: 100px;

        @media(max-width: 1260px){
            margin-top: 10px;
              
          }
    }
      
    .resume-button:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }

  
  
  .resume-button:hover:after {
    width: 100%;
    background: var(--form);
  }


.about-me-images {
        margin: 100px 0;
    margin-left: 40px;
    position: relative;

    @media(max-width: 1100px){
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 50px;
       }

    @media(max-width: 750px){
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 50px;
        max-width: 300px;
    }
}

.drawing {
    max-width: 400px;
    width:100%;
    position: absolute;
    z-index: 3;
    transition: 0.5s ease-in-out;
    border: 20px solid var(--form);

    &:hover {
        opacity: 0%;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
    }

     @media(max-width: 700px){
        max-width: 300px;
        width: 300px;
    }
}

.photo {
    max-width: 400px;
    width:100%;
    position: inherit;
    z-index: 2;
    border: 20px solid var(--form);

    @media(max-width: 700px){
        max-width: 300px;
        width: 300px;
    }
}