.contact {
    background-image: var(--backgroundImg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 25px solid;
    background-color: var(--form);
}

h4{
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
    margin: 40px 0;
}


form{
    margin: 0 auto;
    padding: 50px;
    max-width: 500px;
    width: 100%;
    background-color: var(--form);
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.contact-me{
    color: var(--aboutMeBg);

      @media(max-width: 750px){
        font-size: 4rem;   
    }
}
 
        /* reset */

        #fs-frm select,
        #fs-frm textarea,
        #fs-frm fieldset,
        #fs-frm optgroup,
        #fs-frm label {
            font-family: inherit;
            font-size: 100%;
            color: var(--aboutMeBg);
            border: none;
            width: 100%;
            padding: 0;
            margin: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            font-family: 'Oswald', sans-serif;
            font-size: 2rem;

            @media(max-width: 750px){
                font-size: 1.5rem;
            }
        }
    
        /* border, padding, margin, width */
        #fs-frm input,
        #fs-frm textarea {
            border: 1px solid rgba(0, 0, 0, 0.2);
            background-color: rgba(255, 255, 255, 0.9);
            padding: 5px 10px;
            margin-bottom: 1.5rem;
            margin-top: 15px;
        }
    
        #fs-frm [type="text"],
        #fs-frm [type="email"],
        #fs-frm textarea {
            width: 100%;
            background-color: var(--aboutMeBg);
            color: var(--form);
            font-family: 'Oswald', sans-serif;
            font-size: 2rem;
            resize: none;

            @media(max-width: 750px){
            font-size: 1.5rem;
    }
        }

        #fs-frm textarea{
            max-height: 100px;
            overflow: auto;
        }
    
        #fs-frm [type="button"],
        #fs-frm [type="submit"] {
            background-color: var(--form);
            border: 2px solid var(--form);
            color: var(--aboutMeBg);
            width: auto;
            cursor: pointer;
            font-family: 'Oswald', sans-serif;
            font-size: 2rem;
            text-transform: uppercase;
            padding: none;
        }

        #fs-frm [type="button"]:hover,
        #fs-frm [type="submit"]:hover,
        #fs-frm [type="button"]:focus,
        #fs-frm [type="submit"]:focus{
            border: 2px solid var(--aboutMeBg);
            transition: 0.5s ease-in-out;
            background-color: var(--aboutMeBg);
            color: var(--form);
        }



        .contact-container{
            display: flex;
            background-color: var(--form);
            max-width: 800px;
            margin: 0 auto;

            @media(max-width: 750px){
                flex-direction: column-reverse;
                margin: 0 25px;
            }
        }

        .contact-info-container p{
            margin-top: 20px;
            font-size: 2rem;
            margin-bottom: 20px;
            color: var(--aboutMeBg);
            line-height: 30px;

            @media(max-width: 750px){
             font-size: 1.5rem;
             max-width: 200px;
    }
        }

        .contact-info-container i{
            font-size: 4rem;
            padding: 15px;
            color: var(--aboutMeBg);

                @media(max-width: 750px){
                font-size: 3rem;
            }

        }

        .contact-info-container {
            margin-right: 50px;
            color: var(--aboutMeBg);
            max-width: 300px;

        @media(max-width: 750px){
        margin: 0 auto;
    }
        }

        fieldset label{
            font-size: 2rem;
        }

