:root {
  --navHeight: 70px;
}

* {
  margin: 0;
  padding: 0;
}

// .switch {
//   width: 55px;
//   display: flex;
//   // align-items: center;
// }

// .switch div {
//   position: relative;
//   display: block;
//   background: #eee;
//   width: 30px;
//   border-radius: 50px;
//   padding: 0 5px;
//   box-sizing: border-box;
//   cursor: pointer;
// }

// .fa-adjust {
//   transform: rotate(180deg);
// }

// .switch input {
//   display: none;
// }

// .slider {
//   background-color: white;
//   transition: 0.4s;
//   border-radius: 34px;
//   height: 15px;
//   width: 15px;
//   display: inline-block;
//   position: relative;
// }

// input:checked + .slider {
//   transform: translateX(8px);
// }


input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
  margin-top: -12px;
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: grey;
	display: block;
	border-radius: 25px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 15px;
	transition: 0.3s;
}

input:checked + label {
	background: #acabab;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 30px;
}


:root {
//   --navHeight: 70px;
  --blackTheme: #171717;
  --whiteTheme: white;
  --paleSpringBud: #DEDABA;
  --goldCrayola: #E5C687;
  --richBlackForeground: #171717;
  --white: #f8f8f8;
  --black: #222;
  --msuGreen: #171717;
  --gray: #eee;
  --Drk: url(../../../assets/Header-1.jpg);
  --Lgt: url(../../../assets/Header-2.jpg);
  --filterOn: brightness(0%);
  --filterOff: brightness(100%) brightness(0) invert(1);
  --logoFilterOn: invert(100%);
  --logoFilterOff: invert(0%);

}

.light-theme {
  --themeDropDownBg: var(--goldCrayola);
  --themeIconBorderColor: var(--blackTheme);
  --navBg: var(--blackTheme);
  --mainBg: var(--goldCrayola);
  --fontColor: var(--black);
  --backgroundImg: var(--Lgt);
  --aboutMeBg: var(--whiteTheme);
  --filtered: var(--filterOn);
  --dot: var(--blackTheme);
  --form: var(--blackTheme);
  --logo: var(--logoFilterOn);
  
}

.dark-theme {
  --themeDropDownBg: var(--msuGreen);
  --themeIconBorderColor: var(--richBlackForeground);
  --navBg: var(--richBlackForeground);
//   --navLinkHoverBg: var(--msuGreen);
  --mainBg: var(--msuGreen);
  --fontColor: var(--white);
  --backgroundImg: var(--Drk);
    --aboutMeBg: var(--blackTheme);
    --filtered: var(--filterOff);
    --dot: var(--whiteTheme);
    --form: var(--whiteTheme);
    --logo: var(--logoFilterOff);

}

* {
  color: var(--fontColor);
}

nav {
  background: var(--navBg);
}

nav ul li:hover {
  background-color: var(--navLinkHoverBg);
}

main {
  background: var(--mainBg);
}

 header {
    background-image: var(--backgroundImg);
    background-size: cover;
    height: 90vh;
}



* {
  transition: background-color 0.6s ease, color 1s ease;
}

.light-theme {
  --themeSwitchColor: var(--blackTheme);
}

.dark-theme {
  --themeSwitchColor: var(--msuGreen);
}

// .slider {
//   background-color: var(--themeSwitchColor);
// }



