:root {
  // --navHeight: 70px;
}

* {
  margin: 0;
  padding: 0;
}





:root {
//   --navHeight: 70px;
  --blackTheme: #171717;
  --whiteTheme: white;
  --paleSpringBud: #DEDABA;
  --goldCrayola: #E5C687;
  --richBlackForeground: #171717;
  --white: #f8f8f8;
  --black: #222;
  --msuGreen: #171717;
  --gray: #eee;
  --Drk: url(../../../assets/Header-1.jpg);
  --Lgt: url(../../../assets/Header-2.jpg);
  --filterOn: brightness(0%);
  --filterOff: brightness(100%) brightness(0) invert(1);
  --logoFilterOn: invert(100%);
  --logoFilterOff: invert(0%);

}

.light-theme {
  --themeDropDownBg: var(--goldCrayola);
  --themeIconBorderColor: var(--blackTheme);
  --navBg: var(--blackTheme);
  --fontColor: var(--black);
  --backgroundImg: var(--Lgt);
  --aboutMeBg: var(--whiteTheme);
  --filtered: var(--filterOn);
  --dot: var(--blackTheme);
  --form: var(--blackTheme);
  --logo: var(--logoFilterOn);
  
}

.dark-theme {
  --themeDropDownBg: var(--msuGreen);
  --themeIconBorderColor: var(--richBlackForeground);
  --navBg: var(--richBlackForeground);
//   --navLinkHoverBg: var(--msuGreen);
  --fontColor: var(--white);
  --backgroundImg: var(--Drk);
    --aboutMeBg: var(--blackTheme);
    --filtered: var(--filterOff);
    --dot: var(--whiteTheme);
    --form: var(--whiteTheme);
    --logo: var(--logoFilterOff);

}

* {
  color: var(--fontColor);
}

nav {
  background: var(--navBg);
}

nav ul li:hover {
  background-color: var(--navLinkHoverBg);
}

main {
  background: var(--mainBg);
}

 header {
    background-image: var(--backgroundImg);
    background-size: cover;
    height: 90vh;
}



* {
  transition: background-color 0.6s ease, color 1s ease;
}

.light-theme {
  --themeSwitchColor: var(--blackTheme);
}

.dark-theme {
  --themeSwitchColor: var(--msuGreen);
}

// .slider {
//   background-color: var(--themeSwitchColor);
// }



