footer{
    display: flex;
    text-align: center;
    background-color: var(--aboutMeBg);
    border: none;
    
    
    p{
        color: var(--fontColor);
        font-size: 2rem;
        padding: 20px;
        margin: 0 auto;

        @media(max-width: 750px){
            font-size: 1rem;
        }
    }
}