html { font-size: 62.5%; } body, ul, h1, h2, h3, p { margin: 0; } ul { padding: 0; list-style-type: none } a { display: inline-block; text-decoration: none; } img { max-width: 100% }


body {
    font-family: 'Oswald', sans-serif;
}

 header {
    background-image: url(../../../assets/Header-1.jpg);
    background-size: cover;
}

.header-container {
    background-color: var(--aboutMeBg);
    width: 500px;
    margin: 0 auto;
    margin-top: 12%;
    border: 20px solid;
    border-color: var(--form);
}
.title {
    width: 100%;
    padding: 30px;
    filter: var(--logo);
} 

.resume-container{
    text-align: center;

    button{
        font-size: 1.5rem;
        font-family: 'Oswald', sans-serif;
        padding: 5px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        background-color: white;
        text-transform: uppercase;
        border: 2px solid white;

        &:hover,
        &:focus{
            border: 2px solid yellow;
        }

    }
}






// *************ABOUT ME SECTION*************
