html { font-size: 62.5%; } body, ul, h1, h2, h3, p { margin: 0; } ul { padding: 0; list-style-type: none } a { display: inline-block; text-decoration: none; } img { max-width: 100% }


body {
    font-family: 'Oswald', sans-serif;
}

 header {
    background-image: url(../../../assets/Header-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;

}

.header-container {
    background-color: var(--aboutMeBg);
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 16%;
    border: 20px solid;
    border-color: var(--form);

    .header-icon{
        font-size: 5rem;
        padding: 10px;
    }
}
.title {
    width: 100%;
    padding: 30px;
    filter: var(--logo);
} 



.resume-container{
    text-align: center;
    margin-bottom: 20px;

    button{
        font-size: 1.5rem;
        font-family: 'Oswald', sans-serif;
        padding: 5px;
        display: block;
        margin: 0 auto;
        border-radius: 25px;
        background-color: var(--aboutMeBg);
        text-transform: uppercase;
        border: 2px solid var(--form);

        &:hover,
        &:focus{
            border: 2px solid yellow;
        }

    }
}






// *************ICONS GENERAL*************
    .icon {
                color: #171717;
                font-size: 80px;
                color: var(--fontColor);
                transition: 0.4s ease-in-out;
            }

            .fa-js-square:hover,
            .fa-js-square:focus {
                color: #F9E000;
            }

            .fa-sass:hover,
            .fa-sass:focus{
                color: #C03E82;
            }

            .fa-html5:hover,
            .fa-html5:focus{
                color: #E98348;
            }

            .fa-css3-alt:hover,
            .fa-css3-alt:focus{
                color: #62ABF5;
            }

            .fa-react:hover,
            .fa-react:focus {
                color: #64D8FD;
            }

            .fa-github:hover,
            .fa-github:focus{
                color: #333232;
            }

            .fa-git-alt:hover,
            .fa-git-alt:focus{
                color: #EE4C33;
            }

            .fa-terminal:hover,
            .fa-terminal:focus{
                color: #1ED215;
            }

            .fa-universal-access:hover,
            .fa-universal-access:focus {
                color: #155196;
            }

            .fa-mobile-alt:hover,
            .fa-mobile-alt:focus{
                color: #8641BE;
            }

            .firebase,
            .jquery {
                filter: var(--filtered);
            }
