@mixin headingSize($fontFamily, $fontSize, $lineHeight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
}

@mixin elementSize($fontFamily, $fontSize, $letterSpace) {
  font-family: $fontFamily;
  font-size: $fontSize;
  letter-spacing: $letterSpace;
}

@mixin tabletMQ {
  @media (max-width: 1100px) {
    @content;
  }
}

@mixin mobileMQ {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin smallMQ {
  @media (max-width: 550px) {
    @content;
  }
}