.portfolio-container {
        background-color: blue;
        padding: 100px 0;
        border-bottom: 25px solid;
        background-color: var(--aboutMeBg);

    h4 {
        color: var(--fontColor);
        margin-top: 20px;
        margin-bottom: 0;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-size: 5rem;
        margin-bottom: 20px;
    }
    
    .portfolio-projects{
        display: flex;
        margin: 100px 30px;

        .project-image{
        width: 400px;
        margin-right: 100px;
        -webkit-filter: grayscale(100%); 
        filter: grayscale(100%);
        width: 900px;
        transition: 0.6s ease-in-out;
    }

    .project-image:hover,
    .project-image:focus{
        -webkit-filter: none;
        filter: none;
    }

        .project-info{
            max-width: 300px;
        }
    }

    .portfolio-projects:nth-child(3){
        justify-content: flex-end;
    }
}