.skills-container {
    background-image: var(--backgroundImg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
     border-bottom: 25px solid;
    background-color: var(--aboutMeBg);
}


.skills-icons {
    margin: 0 auto;
    max-width: 800px;
    border-color: var(--aboutMeBg);
    border: 20px solid;
    background-color: var(--aboutMeBg);

    @media(max-width: 1000px){
        margin: 0 auto;
        margin: 0 50px;
    }
    
    
    h4 {
        color: var(--fontColor);
        margin-top: 20px;
        margin-bottom: 0;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-size: 5rem;

        @media(max-width: 750px){
                font-size: 4rem;
            }
    }
    
    ul {
        display: flex;
        flex-wrap: wrap;
        background-color: var(--aboutMeBg);
        margin: 0 auto;


        li {
            margin: 0 auto;
            font-size: 2rem;
            padding: 40px;

            @media(max-width: 1000px){
                padding: 25px;
            }

            @media(max-width: 750px){
                padding: 15px;
            }
            
            
            .icon {
                font-size: 80px;
                width: 80px;
                color: var(--fontColor);
                transition: 0.4s ease-in-out;

                @media(max-width: 1000px){
                    font-size: 65px;
                    width: 50px;
                }

                @media(max-width: 750px){
                    font-size: 45px;
                    width: 40px;
                    animation: fadeIn 5s infinite alternate;
                }
                
                @keyframes fadeIn { 
                    from { filter: brightness(100%)} 
                }
        
        
               &:hover,
               &:focus {
                   filter: brightness(100%);
               } 
            }

            .fa-js-square{
                animation: jsColorIn 5s infinite alternate;
            }
             @keyframes jsColorIn { 
                    from { color: #F9E000} 
                }
            .fa-js-square:hover,
            .fa-js-square:focus {
                color: #F9E000;
            }

            .fa-sass{
                animation: sassColorIn 5s infinite alternate;
            }
            @keyframes sassColorIn { 
                    from { color: #C03E82} 
                }
            .fa-sass:hover,
            .fa-sass:focus{
                color: #C03E82;
            }

              .fa-html5{
                animation: htmlColorIn 5s infinite alternate;
            }
            @keyframes htmlColorIn { 
                    from { color: #E98348} 
                }

            .fa-html5:hover,
            .fa-html5:focus{
                color: #E98348;
            }
            // ******CSS ICON*****
             .fa-css3-alt{
                animation: cssColorIn 5s infinite alternate;
            }
            @keyframes cssColorIn { 
                    from { color: #62ABF5} 
                }            
            .fa-css3-alt:hover,
            .fa-css3-alt:focus{
                color: #62ABF5;
            }

            // *****REACT ICON***** 
            .fa-react{
                animation: reactColorIn 5s infinite alternate;
            }
            @keyframes reactColorIn { 
                    from { color: #64D8FD} 
                }  

            .fa-react:hover,
            .fa-react:focus {
                color: #64D8FD;
            }
            // *****GITHUB ICON*****
              .fa-github{
                animation: githubColorIn 5s infinite alternate;
            }
            @keyframes githubColorIn { 
                    from { color: #333232} 
                } 

            .fa-github:hover,
            .fa-github:focus{
                color: #333232;
            }
            // *****GIT ICON*****
              .fa-git-alt{
                animation: gitColorIn 5s infinite alternate;
            }
            @keyframes gitColorIn { 
                    from { color: #EE4C33} 
                } 

            .fa-git-alt:hover,
            .fa-git-alt:focus{
                color: #EE4C33;
            }

            // *****COMMAND LINE ICON*****
               .fa-terminal{
                animation: clColorIn 5s infinite alternate;
            }
            @keyframes clColorIn { 
                    from { color: #1ED215} 
                } 

            .fa-terminal:hover,
            .fa-terminal:focus{
                color: #1ED215;
            }

            // *****ACCESSIBLITY ICON*****
            .fa-universal-access{
                animation: accessColorIn 5s infinite alternate;
            }
            @keyframes accessColorIn { 
                    from { color: #155196} 
                } 


            .fa-universal-access:hover,
            .fa-universal-access:focus {
                color: #155196;
            }

            // *****RESPONSIVE ICON*****
              .fa-mobile-alt{
                animation: resColorIn 5s infinite alternate;
            }
            @keyframes resColorIn { 
                    from { color: #8641BE} 
                } 

            .fa-mobile-alt:hover,
            .fa-mobile-alt:focus{
                color: #8641BE;
            }

            .firebase,
            .jquery {
                filter: var(--filtered);
            }
            .firebase{
                width: 70px;

                @media(max-width: 1000px){
                    width: 50px;
                }

                @media(max-width: 750px){
                    width: 40px;
                }
            }
        }
    }
    
}

.app-name {
    position: relative;
    padding-top: 0;
    text-align: center;
    font-size: 1.8rem;
    margin-top: 15px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;

    @media(max-width: 1000px){
        font-size: 1.5rem;
    }

}

.html{
    transform: translate(-10%)
}
.css{
    transform: translate(-14%)
}
.git{
    transform: translate(-7%);
}

.accessibility{
    transform: translate(-5%);
}

.responsive{
    transform: translate(-30%);
}

